### [Series 연산 - 3]
- 원소값이 비어있는 경우
- 인덱스가 서로 다른 Series인 경우

In [55]:
# [1] 모듈로딩
import pandas as pd
import math
import numpy as np

In [56]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 ==> pandas에 없음
# math 모듈과 numpy 패키지를 사용
math.nan , np.NaN

(nan, nan)

In [57]:
# [2] 데이터 준비
bibibig=[13, 600, np.NaN, 1500]
merona=[32,700,1200,1500]

In [58]:
# [3] 1D List ==> Series 형태로 저장
sr1=pd.Series(bibibig)
sr2=pd.Series(merona, dtype='int16')

In [59]:
print(sr1,sr2,sep='\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1200
3    1500
dtype: int16

In [60]:
# [4-1] 연산 수행 : Series + 숫자
# - 산술 연산
sr1 % 5

0    3.0
1    0.0
2    NaN
3    0.0
dtype: float64

In [61]:
# - 비교 연산
sr1 >= 5 # NaN을 False 값으로 나옴

0     True
1     True
2    False
3     True
dtype: bool

In [62]:
# [4-2] 연산 수행 : Series + Seires
# - 산술 연산 
sr1 * sr2

# NaN이 있으면 연산을 안 해줌.

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [63]:
# - 비교 연산
sr1 != sr2

0     True
1     True
2     True
3    False
dtype: bool

In [64]:
# [5] 인덱스가 다른 Series끼리 연산 수행
# - sr3 생성 : sr2에서 인덱스 변경 [0,1,2,3] -> [0,2,3,4]
sr3=sr2.rename(index={1:2,2:3,3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int16

In [65]:
# - 산술연산
sr2 + sr3 # 인덱스에 맞춰서 계산하기 때문에 한쪽이라도 빈칸이면 NaN

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [66]:
# - 비교 연산 : ERROR 발생
# sr2 > sr3

In [69]:
sr3=sr3.reset_index(drop=True)

In [70]:
sr2>sr3

0    False
1    False
2    False
3    False
dtype: bool

In [74]:
# [6] NaN에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈칸 즉, NaN에 값을 지정
sr1.add(sr2, fill_value=-5.)

0      45.0
1    1300.0
2    1195.0
3    3000.0
dtype: float64

In [75]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr3=sr2.rename(index={1:2,2:3,3:4})

In [77]:
sr2.add(sr3,fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64