### [Series & DataFrame 연산]

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
file_name='data1.csv'

In [3]:
# [3] CSV file ==> DataFrame형태 저장
csvDF=pd.read_csv(file_name,header=None)

In [4]:
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  40  50  90
3  66  55  44
4   5   5   5

In [5]:
# [4] 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행

In [6]:
result=csvDF[0] + csvDF[2]

In [7]:
# 0번 컬럼 ~ 2번 컬럼까지의 덧셈 수행
result=csvDF[0] + csvDF[1]+ csvDF[2]
result

0     60
1    240
2    180
3    165
4     15
dtype: int64

In [8]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가
csvDF['total']=result
csvDF

    0   1   2  total
0  10  20  30     60
1  90  80  70    240
2  40  50  90    180
3  66  55  44    165
4   5   5   5     15

In [9]:
# 행  추가 => 데이터 : 각 컬럼의 값을 모두 더한 값
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
result2

0        211
1        210
2        239
total    660
dtype: int64

In [10]:
csvDF.loc[5]=result2
csvDF

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   40   50   90    180
3   66   55   44    165
4    5    5    5     15
5  211  210  239    660

In [11]:
# [5] 연산 수행 메서드 : 합계 sum(), 최댓값 max(), 최솟값 min()
SR0=csvDF[0]
print(SR0)
print('합계',SR0.sum())
print('최댓값',SR0.max())
print('최솟값',SR0.min())

0     10
1     90
2     40
3     66
4      5
5    211
Name: 0, dtype: int64
합계 422
최댓값 211
최솟값 5

In [12]:
# DataFrame으로 연산 수행 메서드
csvDF

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   40   50   90    180
3   66   55   44    165
4    5    5    5     15
5  211  210  239    660

In [13]:
# 컬럼별 합계 계산
# 각 행 데이터를 모아서 합계 수행. 그래서 컬럼 마다 행들을 모아서 합계 수행
print('합계',csvDF.sum())
# 0번 컬럼의 모든 합계를 더하기 때문에 0번 컬럼 모든 행의 값이 나옴.
# 어려우면 행, 열 반대로 생각하면 됨.


# 각 컬럼 데이터를 모아서 합계 수행. 그래서 행 마다 컬럼들을 모아서 합계 수행
print('합계',csvDF.sum(axis=1))

합계 0         422
1         420
2         478
total    1320
dtype: int64
합계 0     120
1     480
2     360
3     330
4      30
5    1320
dtype: int64

In [14]:
# DataFrame 최댓값 계산
print('최댓값',csvDF.max())
print('최댓값',csvDF.max(axis=1))

최댓값 0        211
1        210
2        239
total    660
dtype: int64
최댓값 0     60
1    240
2    180
3    165
4     15
5    660
dtype: int64

#### 연산과 데이터 추출
- 연산결과와 데이터 추출 함께 진행

In [15]:
# Total이 100이상인 데이터만 추출
# 비교 연산 결과 ==> True/False : Boolean Index
bool_index = csvDF.total > 100
bool_index2 = (csvDF.total > 100) & (csvDF[0]>50) 
bool_index

0    False
1     True
2     True
3     True
4    False
5     True
Name: total, dtype: bool

In [16]:
# Boolean Index 즉, 인덱스로 특정 데이터 추출에 사용 가능
# csvDF[컬럼인덱스], csvDF.iloc[행인덱스],  csvDF.loc[행인덱스]
csvDF[bool_index]

     0    1    2  total
1   90   80   70    240
2   40   50   90    180
3   66   55   44    165
5  211  210  239    660