## 결측치 및 이상치 처리 방안(Linear)
1. 사출온도 설정값 = 0  지움(48개)
2. k_rpm 실제값 = 0 & 40 지움 (이상치)
3. 물 & 손 무게 0으로 바꿈.

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
## 데이터 셋 DF로 전환
dataDF = pd.read_csv(r'C:\Users\KDP-14\Desktop\VSCode\KDT6\기업 프로젝트\데이터 전처리 2차\clean_data2.csv')

In [48]:
dataDF

        c_temp_pv  k_rpm_pv  n_temp_pv  scale_pv  s_temp_pv
0            69.6       189       67.2      3.01       67.1
1            69.8       189       67.2      3.01       67.0
2            69.7       189       67.9      3.08       65.9
3            69.7       189       67.8      3.08       65.9
4            69.7       189       67.8      3.08       65.9
...           ...       ...        ...       ...        ...
232022       69.7       191       67.6      0.00       67.3
232023       69.8       191       67.5      0.00       67.0
232024       69.7       191       67.4      0.00       66.8
232025       69.7       191       67.3      0.00       66.7
232026       69.8       191       67.2      0.00       66.6

[232027 rows x 5 columns]

In [49]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232027 entries, 0 to 232026
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   c_temp_pv  232027 non-null  float64
 1   k_rpm_pv   232027 non-null  int64
 2   n_temp_pv  232027 non-null  float64
 3   scale_pv   232027 non-null  float64
 4   s_temp_pv  232027 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 8.9 MB

In [50]:
## 물, 손 무게 0으로 바꿈
list(dataDF['scale_pv'].value_counts().index.sort_values())
# 어디까지가 물이고 어디까지가 고무고 어디까지가 사람 손이냐
# 2.0 = 1개 -> 버림(개수가 적고 유효한 값이 아니라고 판단)
#

[0.0,
 0.01,
 0.02,
 0.03,
 0.04,
 0.05,
 0.06,
 0.07,
 0.08,
 0.1,
 0.11,
 0.12,
 0.13,
 0.15,
 0.16,
 0.17,
 0.18,
 0.19,
 0.2,
 0.21,
 0.22,
 0.23,
 0.39,
 0.82,
 0.85,
 2.0,
 2.56,
 2.57,
 2.69,
 2.71,
 2.72,
 2.73,
 2.74,
 2.75,
 2.76,
 2.77,
 2.78,
 2.79,
 2.8,
 2.81,
 2.82,
 2.83,
 2.84,
 2.85,
 2.86,
 2.87,
 2.88,
 2.89,
 2.9,
 2.91,
 2.92,
 2.93,
 2.94,
 2.95,
 2.96,
 2.97,
 2.98,
 2.99,
 3.0,
 3.01,
 3.02,
 3.03,
 3.04,
 3.05,
 3.06,
 3.07,
 3.08,
 3.09,
 3.1,
 3.11,
 3.12,
 3.13,
 3.14,
 3.15,
 3.16,
 3.17,
 3.18,
 3.19,
 3.2,
 3.21,
 3.22,
 3.23,
 3.24,
 3.25,
 3.26,
 3.27,
 3.28,
 3.29,
 3.34,
 3.35,
 3.37,
 3.41,
 3.43,
 3.49,
 9.17,
 9.18,
 15.1,
 15.3,
 655.04,
 655.19,
 655.2,
 655.21,
 655.22,
 655.23,
 655.24,
 655.25,
 655.26,
 655.27,
 655.28,
 655.29,
 655.3,
 655.31,
 655.32,
 655.33,
 655.34,
 655.35]

In [51]:
## 1. 넓은 범위로 생각해보기(2.7~3.3) 2.9 ~ 3.1까지 정상 데이터로 처리

def change_scale(dataDF, x, y):
    # scale_pv가 x와 y 사이인 값은 유지, 그렇지 않은 값은 0으로 설정
    dataDF['scale_pv'] = dataDF['scale_pv'].apply(lambda value: value if float(x) <= value <= float(y) else 0)
    return dataDF

In [52]:
change_scale(dataDF,2.7,3.3)

        c_temp_pv  k_rpm_pv  n_temp_pv  scale_pv  s_temp_pv
0            69.6       189       67.2      3.01       67.1
1            69.8       189       67.2      3.01       67.0
2            69.7       189       67.9      3.08       65.9
3            69.7       189       67.8      3.08       65.9
4            69.7       189       67.8      3.08       65.9
...           ...       ...        ...       ...        ...
232022       69.7       191       67.6      0.00       67.3
232023       69.8       191       67.5      0.00       67.0
232024       69.7       191       67.4      0.00       66.8
232025       69.7       191       67.3      0.00       66.7
232026       69.8       191       67.2      0.00       66.6

[232027 rows x 5 columns]

In [53]:
dataDF['scale_pv'].value_counts().index.sort_values()

Index([ 0.0, 2.71, 2.72, 2.73, 2.74, 2.75, 2.76, 2.77, 2.78, 2.79,  2.8, 2.81,
       2.82, 2.83, 2.84, 2.85, 2.86, 2.87, 2.88, 2.89,  2.9, 2.91, 2.92, 2.93,
       2.94, 2.95, 2.96, 2.97, 2.98, 2.99,  3.0, 3.01, 3.02, 3.03, 3.04, 3.05,
       3.06, 3.07, 3.08, 3.09,  3.1, 3.11, 3.12, 3.13, 3.14, 3.15, 3.16, 3.17,
       3.18, 3.19,  3.2, 3.21, 3.22, 3.23, 3.24, 3.25, 3.26, 3.27, 3.28, 3.29],
      dtype='float64', name='scale_pv')

In [54]:
dataDF = dataDF[~(dataDF['scale_pv'] == 0)]

In [55]:
dataDF['scale_pv'].value_counts().index.sort_values()

Index([2.71, 2.72, 2.73, 2.74, 2.75, 2.76, 2.77, 2.78, 2.79,  2.8, 2.81, 2.82,
       2.83, 2.84, 2.85, 2.86, 2.87, 2.88, 2.89,  2.9, 2.91, 2.92, 2.93, 2.94,
       2.95, 2.96, 2.97, 2.98, 2.99,  3.0, 3.01, 3.02, 3.03, 3.04, 3.05, 3.06,
       3.07, 3.08, 3.09,  3.1, 3.11, 3.12, 3.13, 3.14, 3.15, 3.16, 3.17, 3.18,
       3.19,  3.2, 3.21, 3.22, 3.23, 3.24, 3.25, 3.26, 3.27, 3.28, 3.29],
      dtype='float64', name='scale_pv')

In [56]:
dataDF.reset_index(drop=True,inplace=True)

## LinearReg를 이용해서 결측치 채우기

In [57]:
# 모듈 로딩
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [58]:
target = dataDF['scale_pv']
feature = dataDF.drop(columns='scale_pv')

In [59]:
model = LinearRegression()

In [60]:
model.fit(feature,target)

LinearRegression()

In [61]:
# 모델 저장
import pickle
saved_model = pickle.dumps(model)

<hr>

In [62]:
dataDF = pd.read_csv(r'C:\Users\KDP-14\Desktop\VSCode\KDT6\기업 프로젝트\데이터 전처리 2차\clean_data2.csv')

In [63]:
feature = dataDF.drop(columns='scale_pv')
target = dataDF['scale_pv']

In [64]:
dataDF

        c_temp_pv  k_rpm_pv  n_temp_pv  scale_pv  s_temp_pv
0            69.6       189       67.2      3.01       67.1
1            69.8       189       67.2      3.01       67.0
2            69.7       189       67.9      3.08       65.9
3            69.7       189       67.8      3.08       65.9
4            69.7       189       67.8      3.08       65.9
...           ...       ...        ...       ...        ...
232022       69.7       191       67.6      0.00       67.3
232023       69.8       191       67.5      0.00       67.0
232024       69.7       191       67.4      0.00       66.8
232025       69.7       191       67.3      0.00       66.7
232026       69.8       191       67.2      0.00       66.6

[232027 rows x 5 columns]

In [65]:
change_scale(dataDF,2.7,3.3)

        c_temp_pv  k_rpm_pv  n_temp_pv  scale_pv  s_temp_pv
0            69.6       189       67.2      3.01       67.1
1            69.8       189       67.2      3.01       67.0
2            69.7       189       67.9      3.08       65.9
3            69.7       189       67.8      3.08       65.9
4            69.7       189       67.8      3.08       65.9
...           ...       ...        ...       ...        ...
232022       69.7       191       67.6      0.00       67.3
232023       69.8       191       67.5      0.00       67.0
232024       69.7       191       67.4      0.00       66.8
232025       69.7       191       67.3      0.00       66.7
232026       69.8       191       67.2      0.00       66.6

[232027 rows x 5 columns]

In [66]:
dataDF['scale_pv'].value_counts().index.sort_values()

Index([ 0.0, 2.71, 2.72, 2.73, 2.74, 2.75, 2.76, 2.77, 2.78, 2.79,  2.8, 2.81,
       2.82, 2.83, 2.84, 2.85, 2.86, 2.87, 2.88, 2.89,  2.9, 2.91, 2.92, 2.93,
       2.94, 2.95, 2.96, 2.97, 2.98, 2.99,  3.0, 3.01, 3.02, 3.03, 3.04, 3.05,
       3.06, 3.07, 3.08, 3.09,  3.1, 3.11, 3.12, 3.13, 3.14, 3.15, 3.16, 3.17,
       3.18, 3.19,  3.2, 3.21, 3.22, 3.23, 3.24, 3.25, 3.26, 3.27, 3.28, 3.29],
      dtype='float64', name='scale_pv')

In [67]:
zero_df = dataDF[dataDF['scale_pv'] ==0]

In [68]:
zero_df.index

Index([    74,     75,     76,     77,     78,     79,     80,     81,     82,
           83,
       ...
       232017, 232018, 232019, 232020, 232021, 232022, 232023, 232024, 232025,
       232026],
      dtype='int64', length=193418)

In [69]:
featureDF = zero_df.drop(columns='scale_pv')

In [70]:
featureDF

        c_temp_pv  k_rpm_pv  n_temp_pv  s_temp_pv
74           69.4       189       70.6       70.7
75           69.3       189       70.5       70.8
76           69.4       189       70.5       70.8
77           69.3       189       70.6       70.9
78           69.4       189       70.6       70.9
...           ...       ...        ...        ...
232022       69.7       191       67.6       67.3
232023       69.8       191       67.5       67.0
232024       69.7       191       67.4       66.8
232025       69.7       191       67.3       66.7
232026       69.8       191       67.2       66.6

[193418 rows x 4 columns]

In [71]:
scale = model.predict(featureDF)

In [72]:
scale

array([3.05249001, 3.05198962, 3.05173452, ..., 3.03742636, 3.03698065,
       3.03627983])

In [73]:
dataDF.loc[dataDF['scale_pv'] ==0,'scale_pv']=scale

In [77]:
dataDF['scale_pv'].value_counts().index.sort_values()

Index([2.71, 2.72, 2.73, 2.74, 2.75, 2.76, 2.77, 2.78, 2.79,  2.8,
       ...
        3.2, 3.21, 3.22, 3.23, 3.24, 3.25, 3.26, 3.27, 3.28, 3.29],
      dtype='float64', name='scale_pv', length=116827)

In [78]:
dataDF.to_csv('Linear 전처리2(2.7~3.3).csv',encoding='utf-8',index=False)