In [53]:
import pandas as pd
file='hollys_branches.csv'
dataDF=pd.read_csv(file)
dataDF

,지역,매장명,주소,전화번호
0,경기 성남시 분당구,분당미금점2,"경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F",031-713-7739
1,인천 부평구,인천굴포천역점,"인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...",070-4400-4664
2,대구 서구,대구팔달교DT점,대구광역시 서구 팔달로 34,053-354-1212
3,인천 중구,인천공항교통센터점,"인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...",032-743-3718
4,부산 중구,한국선원센터점,"부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...",070-4070-7506
...,...,...,...,...
490,서울 마포구,합정역점,서울특별시 마포구 양화로 36 (합정동 374-1) 할리스,02-6204-1234
491,부산 해운대구,부산달맞이점,"부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스",051-731-3410
492,서울 관악구,신림점,서울특별시 관악구 신림로 353-1,02-877-0019
493,서울 중구,태평로점,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
494,서울 서대문구,신촌점,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [54]:
# dataDF의 인덱스 바꿔주기
dataDF=dataDF.set_axis(range(1,len(dataDF)+1)).copy()
dataDF

,지역,매장명,주소,전화번호
1,경기 성남시 분당구,분당미금점2,"경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F",031-713-7739
2,인천 부평구,인천굴포천역점,"인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...",070-4400-4664
3,대구 서구,대구팔달교DT점,대구광역시 서구 팔달로 34,053-354-1212
4,인천 중구,인천공항교통센터점,"인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...",032-743-3718
5,부산 중구,한국선원센터점,"부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...",070-4070-7506
...,...,...,...,...
491,서울 마포구,합정역점,서울특별시 마포구 양화로 36 (합정동 374-1) 할리스,02-6204-1234
492,부산 해운대구,부산달맞이점,"부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스",051-731-3410
493,서울 관악구,신림점,서울특별시 관악구 신림로 353-1,02-877-0019
494,서울 중구,태평로점,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
495,서울 서대문구,신촌점,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [55]:
dataDF.loc[1]['지역']

'경기 성남시 분당구'

In [56]:
local = '대구'
local in dataDF['지역']

False

In [66]:
local = input("지역을 입력하세요: ")

mask = []
for i in range(1, len(dataDF.index)+1):
    key = local in dataDF.loc[i,'지역']
    mask.append(key)

select_df = dataDF[mask].reset_index(drop='index')
select_df.index = select_df.index + 1
select_df = select_df.drop(columns='지역')
select_df

        매장명                                                 주소          전화번호
1    경북대북문점         대구광역시 북구 대학로 17길 3 (산격동 1393-11) 할리스 B1~3층  053-951-9990
2     대구관음점                       대구광역시 북구 구암로 59 비전스퀘어 1,2층 .  053-324-6122
3  대구침산네거리점                          대구광역시 북구 침산남로 157 (침산동) .  053-353-5544
4     대구침산점  대구 북구 성북로 36,2층 601,602,603,604 473-3, 침산초등학교 맞은편  053-353-5412
5     대구동천점                           대구광역시 북구 동천로 125 (동천동) .  053-321-0099