In [1]:
# 모듈 로딩
import torch
import torch.nn as nn
import torch.nn.functional as F
from torchmetrics.classification import F1Score
from torchinfo import summary
from torch.utils.data import Dataset, DataLoader

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

[1] 데이터 로딩
<hr>

In [2]:
from urllib.request import urlretrieve

TEST_URL  = 'https://media.githubusercontent.com/media/fpleoni/fashion_mnist/master/fashion-mnist_test.csv'
TRAIN_URL = 'https://media.githubusercontent.com/media/fpleoni/fashion_mnist/master/fashion-mnist_train.csv'

TRAIN_FILE = '../data/fashion-mnist_train.csv'
TEST_FILE  = '../data/fashion-mnist_test.csv'
# 데이터 파일로 저장
urlretrieve(TRAIN_URL, TRAIN_FILE)
urlretrieve(TEST_URL, TEST_FILE)

('../data/fashion-mnist_test.csv', <http.client.HTTPMessage at 0x2777b95b280>)

In [3]:
torch.manual_seed(1)
DEVICE = 'cuda' if torch.cuda.is_available() else 'cpu'
DEVICE

'cpu'

In [4]:
trainDF = pd.read_csv(TRAIN_FILE)
testDF = pd.read_csv(TEST_FILE)

In [5]:
trainDF.head(5)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
testDF['pixel1'].value_counts()

pixel1
0    9997
1       2
2       1
Name: count, dtype: int64